<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
</head>
<body>
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <!--header ends-->
        <!--main starts-->
        <div id="main">
        	<!--breadcrumb-section starts-->
            <div class="breadcrumb-section">
            	<div class="container">
                	<h1>Contact</h1>
                    <div class="breadcrumb">
                        <a href="@Url.Action("Index", "Home")">Home ></a>
                        @*<span class="fa fa-angle-double-right"></span>*@
                        <span class="current">Contact</span>
                    </div>
                </div>
            </div>
            <!--breadcrumb-section ends-->
            <!--container starts-->
            <div class="container">
            	<!--primary starts-->
            	<section id="primary" class="content-full-width">
				
				@*	<div id="map"> </div>
                    *@
                    <div class="dt-sc-hr"> </div>
                    
                    <!--dt-sc-two-third starts-->
                    <div class="column dt-sc-three-fourth first contact_form_outer">
                        <form name="frcontact" class="contact-form" method="post" action="http://wedesignthemes.com/html/kidslife/php/contactmail.php">
                        	<h2>We'd Like to Hear From You!</h2>
                            <p class="column dt-sc-one-third first">
                                <input id="name" name="txtname" type="text" placeholder="Name" required="">
                            </p>
                            <p class="column dt-sc-one-third">
                                <input id="email" name="txtemail" type="email" placeholder="Email ID" required="">
                            </p>
                            <p class="column dt-sc-one-third">
                            	<input id="subject" name="txtsubject" type="text" placeholder="Subject" required="">
                            </p>
                            <p>
                            	<textarea id="comment" name="txtmessage" placeholder="Message"></textarea>
                            </p>
                            <div id="ajax_contact_msg"> </div>
                            <p>
                                <input name="submit" type="submit" id="submit" class="dt-sc-button medium" value="Send Email">
                            </p>
                        </form>
                    </div>
                    <!--dt-sc-two-third ends-->
                    
                    <!--dt-sc-one-third starts-->
                    @*<div class="column dt-sc-one-fourth class_hours">
                    	<h2>Class Hours</h2>
                        <ul class="class_hours">
                        	<li>Monday<span>9am - 3pm</span></li>
                            <li>Tuesday<span>9am - 3pm</span></li>
                            <li>Wednesday<span>9am - 3pm</span></li>
                            <li>Thursday<span>9am - 3pm</span></li>
                            <li>Friday<span>9am - 3pm</span></li>
                            <li>Saturday<span>Holiday</span></li>
                            <li>Sunday<span>Holiday</span></li>
                        </ul>
                        <div class="dt-sc-hr-small"></div>
                        <p><strong><span class="highlighter">We care</span> about your dearest</strong></p>
                        <ul class="dt-sc-social-icons">
                        	<li class="facebook"><a href="contact.html#" title="Facebook" class="dt-sc-tooltip-bottom"><img src="~/Images/facebook.png" alt="" title=""></a></li>
                            <li class="twitter"><a href="contact.html#" title="Twitter" class="dt-sc-tooltip-bottom"><img src="~/Images/twitter.png" alt="" title=""></a></li>
                            <li class="gplus"><a href="contact.html#" title="Google Plus" class="dt-sc-tooltip-bottom"><img src="~/Images/gplus.png" alt="" title=""></a></li>
                            <li class="pinterest"><a href="contact.html#" title="Pinterest" class="dt-sc-tooltip-bottom"><img src="~/Images/pinterest.png" alt="" title=""></a></li>
                        </ul>
                    </div>*@
                    <!--dt-sc-one-third ends-->
                    
                </section>
                <!--primary ends-->
            </div>
            <!--container ends-->
        </div>
        <!--main ends-->
        
        <!--footer starts-->
        <!--footer ends-->
        
    </div>
    <!--wrapper ends-->
    <a href="contact.html" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
    
</body>
</html>
