<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <style>
        .p1 {
            padding-top:10px;
        }
        .adm {
            padding-top:10px;
        }
    </style>
</head>
<body class="main">
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <!--header ends-->
        <!--main starts-->
        <div id="main">
            <section class="fullwidth-background turquoise-plain-bg">
                        <!--container starts-->
                        <div class="container"> 
                        	<h2 class="dt-sc-hr-white-title">Admission Form</h2> 
                            @*<form method="post" action="http://wedesignthemes.com/html/kidslife/php/admissionmail.php" id="admissionform" name="admissionform" class="admission-form">
                                <p class="dt-sc-one-third column first">
                                    <input id="name" name="txtname" type="text" placeholder="Name" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="age" name="txtage" type="text" placeholder="Age" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="p1">.</p>
                                 <p class="dt-sc-one-third column first">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="dt-sc-one-third column">
                                    <input id="course" name="txtcourse" type="text" placeholder="Course" required="">
                                </p>
                                <p class="p1">.</p>
                                <p >
                                	<textarea id="admission" name="txtmessage" placeholder="Message"></textarea>
                                </p>
                                <div  id="ajax_admission_msg"> </div>
                                <p class="aligncenter">
                                    <input name="submit" type="submit" id="submit" value="Submit Form">
                                </p>
                            </form>*@
                        </div>
                        <!--container ends-->
                    </section>
        </div>
        <!--main ends-->
        
        <!--footer starts-->
        <!--footer ends-->
        
    </div>
    <!--wrapper ends-->
    <a href="services.html" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
</body>
</html>
